.navigation {
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 10;
  text-align: justify;
  margin: 10px 0 0 0;

  &:after {
    // justify inline-block method:
    // http://tympanus.net/codrops/2013/07/14/justified-and-vertically-centered-header-elements/
    content: '';
    display: inline-block;
    width: 100%;
  }

  &__item {
    display: inline-block;
    position: relative;
    color: #AAA;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;

    > li {
      display: block;
      width: 100;
    }

    a {
      display: block;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: inherit;
      width: 100%;
    }

    > ul {
      position: absolute;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 5px;
      width: 100%;
      box-sizing: border-box;

      > li {
        display: block;
        background: #AAA;
        border-bottom: 1px solid darken(#AAA, 5%);

        &:first-child {
          border-radius: 2px 2px 0 0;
        }

        &:last-child {
          border: 0;
          border-radius: 0 0 2px 2px;
        }
      }
    }

    &:hover {
      background: #00A8EF;
      color: #FFF;

      > ul {
        display: block;
      }
    }
  }
}
